.content-section {
    display: none;
}

.content-section.active-section {
    display: block;
}

.btn-transparent:disabled {
	border:0;
	background:transparent;
}

/* Inputs styles */
.input-group input{
    background: var(--primary-white);
	color: var(--primary-black);
	font-family: var(--font-Sting);
	font-weight: var(--fw-light);
	font-size: 14px;
    border: 1px solid var(--secondary-white);
	border-radius: 0;
	outline: none;
    appearance: auto;
}

.input-group input::placeholder{
    color: var(--secondary-white);
}

.input-group select,
#ingredientsList select,
.input-group select option
#ingredientsList select option {
	background: var(--secondary-white);
	color: var(--primary-black);
	font-family: var(--font-Sting);
	font-weight: var(--fw-light);
	font-size: 14px;
	border: 0;
	border-radius: 0;
	outline: none;
    appearance: auto;
}

.input-group select option:disabled,
#ingredientsList select option:disabled {
    color: var(--secondary-grey);
}

/* Modal scrollable sizes */
#ingredientsInfo {
    max-height: 350px;
    overflow-y: auto;
}
#ingredientsList {
    max-height: 200px;
    overflow-y: auto;
}