/** BACKGROUND IMAGES **/
/** Basic Backgrounds **/
.white-bg {
    background: var(--secondary-white);
    background-image: url('/assets/img/bg/bg-white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.red-bg {
    background: var(--secondary-red);
    background-image: url('/assets/img/bg/bg-red.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dark-red-bg {
    background: var(--secondary-dark-red);
    background-image: url('/assets/img/bg/bg-dark-red.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** Solid Color Backgrounds **/
.bg-secondary-white {
    background: var(--secondary-white);
    color: var(--primary-red);
    opacity: 1;
}
.bg-primary-grey {
    background: var(--primary-grey);
    opacity: 1;
}
.bg-secondary-grey {
    background: var(--secondary-grey);
    opacity: 1;
}
.bg-primary-red {
    background: var(--primary-red);
    color: var(--primary-white);
    opacity: 1;
}
.bg-secondary-red {
    background: var(--secondary-red);
    color: var(--primary-white);
    opacity: 1;
}
.bg-primary-dark-red {
    background: var(--primary-dark-red);
    color: var(--primary-white);
    opacity: 1;
}
.bg-secondary-dark-red {
    background: var(--secondary-dark-red);
    color: var(--primary-white);
    opacity: 1;
}
.bg-primary-black {
    background: var(--primary-black);
    opacity: 1;
}
