/** Main Header Styles **/
/* ".main-header" styles box height is done on a very dirty way, i must try to change it, ask to Laura*/
.main-header {
    background-color: var(--secondary-red);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}

@media (max-width: 1000px) {
    .main-header { height: 360px; }
}

.auth-user-links {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.auth-user-links a {
    font-family: var(--font-Karla);
    font-weight: var(--fw-regular);
    font-size: 14px;
    color: white;
    text-decoration: none;

}

.main-navbar-box {
    position: absolute;
    z-index: 20;
}

.bc-logo a img {
    width: 110px;
    height: auto;
}

/** Main Navbar & Sub Navbar Styles **/
nav.main-navbar,
nav.sub-navbar {
    font-family: var(--font-Sting);
    font-weight: var(--fw-regular);
    font-size: 18px;
}

nav.main-navbar .active {
    font-weight: var(--fw-black);
}

nav.main-navbar {
    text-transform: uppercase;
}

nav.sub-navbar ul li a {
    text-transform: capitalize;
    color: var(--primary-white);
}

/** Footer Styles **/
.main-footer {
    background-color: var(--secondary-dark-red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.main-footer div, .main-footer a{
    color: var(--primary-red);
}

.quality-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 150px;
}
.quality-logos h3{
    font-family: var(--font-Sting);
    font-weight: var(--fw-regular);
    font-size: 20px;
    color: var(--primary-white);
    margin-top: 10vh;
}

.quality-logos div img {
    width: 200px;
    height: auto;
}

.footer-info-box {
    background-color: var(--primary-white);
    color: var(--primary-red);
    width: 100%;
    max-width: 1344px;
    margin-top: -100px;
}

.footer-info-box img {
    width:120px;
    height:auto;
}